fonts-service-web/src/wsdl/localhost_8080/FontsWebService/FontsWebService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><xs:schema xmlns:tns="http://service.web.ejb.service.fonts/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://service.web.ejb.service.fonts/">

<xs:element name="addFont" type="tns:addFont"/>

<xs:element name="editFont" type="tns:editFont"/>

<xs:element name="font" type="tns:font"/>

<xs:element name="getFont" type="tns:getFont"/>

<xs:element name="getFontResponse" type="tns:getFontResponse"/>

<xs:element name="getFonts" type="tns:getFonts"/>

<xs:element name="getFontsResponse" type="tns:getFontsResponse"/>

<xs:element name="removeFont" type="tns:removeFont"/>

<xs:complexType name="getFont">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFontResponse">
<xs:sequence>
<xs:element name="return" type="tns:font" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="font">
<xs:sequence>
<xs:element name="base64File" type="xs:string" minOccurs="0"/>
<xs:element name="file" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="editFont">
<xs:sequence>
<xs:element name="font" type="tns:font" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFonts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFontsResponse">
<xs:sequence>
<xs:element name="return" type="tns:font" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addFont">
<xs:sequence>
<xs:element name="font" type="tns:font" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="removeFont">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>
</xs:schema>