fonts-service-web/src/wsdl/localhost_8080/FontsWebService/FontsWebService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://javaee.github.io/metro-jax-ws). RI's version is Metro/2.4.0 (wsit240-7e98ff4; 2017-08-03T21:19:54+0200) JAXWS-RI/2.3.0 JAXWS-API/2.3.0 JAXB-RI/2.3.0 JAXB-API/2.3.0 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://service.web.ejb.service.fonts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://service.web.ejb.service.fonts/" name="FontsWebService">
<types>
<xsd:schema>
<xsd:import namespace="http://service.web.ejb.service.fonts/" schemaLocation="http://localhost:8080/FontsWebService/FontsWebService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFont">
<part name="parameters" element="tns:getFont"/>
</message>
<message name="getFontResponse">
<part name="parameters" element="tns:getFontResponse"/>
</message>
<message name="getFonts">
<part name="parameters" element="tns:getFonts"/>
</message>
<message name="getFontsResponse">
<part name="parameters" element="tns:getFontsResponse"/>
</message>
<message name="editFont">
<part name="parameters" element="tns:editFont"/>
</message>
<message name="addFont">
<part name="parameters" element="tns:addFont"/>
</message>
<message name="removeFont">
<part name="parameters" element="tns:removeFont"/>
</message>
<portType name="FontsWebService">
<operation name="getFont">
<input wsam:Action="http://service.web.ejb.service.fonts/FontsWebService/getFontRequest" message="tns:getFont"/>
<output wsam:Action="http://service.web.ejb.service.fonts/FontsWebService/getFontResponse" message="tns:getFontResponse"/>
</operation>
<operation name="getFonts">
<input wsam:Action="http://service.web.ejb.service.fonts/FontsWebService/getFontsRequest" message="tns:getFonts"/>
<output wsam:Action="http://service.web.ejb.service.fonts/FontsWebService/getFontsResponse" message="tns:getFontsResponse"/>
</operation>
<operation name="editFont">
<input wsam:Action="http://service.web.ejb.service.fonts/FontsWebService/editFont" message="tns:editFont"/>
</operation>
<operation name="addFont">
<input wsam:Action="http://service.web.ejb.service.fonts/FontsWebService/addFont" message="tns:addFont"/>
</operation>
<operation name="removeFont">
<input wsam:Action="http://service.web.ejb.service.fonts/FontsWebService/removeFont" message="tns:removeFont"/>
</operation>
</portType>
<binding name="FontsWebServicePortBinding" type="tns:FontsWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFont">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="getFonts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="editFont">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addFont">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="removeFont">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="FontsWebService">
<port name="FontsWebServicePort" binding="tns:FontsWebServicePortBinding">
<soap:address location="http://localhost:8080/FontsWebService/FontsWebService"/>
</port>
</service>
</definitions>