fonts-ejb/src/wsdl/localhost_8080/fonts-soap/FontService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><!-- Generated by JAX-WS RI (https://github.com/eclipse-ee4j/metro-jax-ws). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://soap.fonts/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://soap.fonts/" name="FontService">
<types>
<xsd:schema>
<xsd:import namespace="http://soap.fonts/" schemaLocation="http://localhost:8080/fonts-soap/FontService?xsd=1"/>
</xsd:schema>
</types>
<message name="getFont">
<part name="parameters" element="tns:getFont"/>
</message>
<message name="getFontResponse">
<part name="parameters" element="tns:getFontResponse"/>
</message>
<message name="updateFont">
<part name="parameters" element="tns:updateFont"/>
</message>
<message name="getFonts">
<part name="parameters" element="tns:getFonts"/>
</message>
<message name="getFontsResponse">
<part name="parameters" element="tns:getFontsResponse"/>
</message>
<message name="deleteFont">
<part name="parameters" element="tns:deleteFont"/>
</message>
<message name="addFont">
<part name="parameters" element="tns:addFont"/>
</message>
<portType name="FontWebService">
<operation name="getFont">
<input wsam:Action="http://soap.fonts/FontWebService/getFontRequest" message="tns:getFont"/>
<output wsam:Action="http://soap.fonts/FontWebService/getFontResponse" message="tns:getFontResponse"/>
</operation>
<operation name="updateFont">
<input wsam:Action="http://soap.fonts/FontWebService/updateFont" message="tns:updateFont"/>
</operation>
<operation name="getFonts">
<input wsam:Action="http://soap.fonts/FontWebService/getFontsRequest" message="tns:getFonts"/>
<output wsam:Action="http://soap.fonts/FontWebService/getFontsResponse" message="tns:getFontsResponse"/>
</operation>
<operation name="deleteFont">
<input wsam:Action="http://soap.fonts/FontWebService/deleteFont" message="tns:deleteFont"/>
</operation>
<operation name="addFont">
<input wsam:Action="http://soap.fonts/FontWebService/addFont" message="tns:addFont"/>
</operation>
</portType>
<binding name="FontWebServicePortBinding" type="tns:FontWebService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="getFont">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="updateFont">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="getFonts">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="deleteFont">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="addFont">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
</binding>
<service name="FontService">
<port name="FontWebServicePort" binding="tns:FontWebServicePortBinding">
<soap:address location="http://localhost:8080/fonts-soap/FontService"/>
</port>
</service>
</definitions>