fonts-ejb/src/wsdl/localhost_8080/fonts-ws/FontService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.4.3.payara-p3 (2.4.3.payara-maintenance-a5c1c68; 2019-06-17T14:04:38+0200) JAXWS-RI/2.3.2.payara-p2 JAXWS-API/2.3.2 JAXB-RI/2.3.2 JAXB-API/2.3.2 git-revision#unknown. --><xs:schema xmlns:tns="http://ws.fonts/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws.fonts/">

<xs:element name="addFont" type="tns:addFont"/>

<xs:element name="deleteFont" type="tns:deleteFont"/>

<xs:element name="font" type="tns:font"/>

<xs:element name="getFont" type="tns:getFont"/>

<xs:element name="getFontResponse" type="tns:getFontResponse"/>

<xs:element name="getFonts" type="tns:getFonts"/>

<xs:element name="getFontsResponse" type="tns:getFontsResponse"/>

<xs:element name="updateFont" type="tns:updateFont"/>

<xs:complexType name="updateFont">
<xs:sequence>
<xs:element name="font" type="tns:font" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="font">
<xs:sequence>
<xs:element name="base64File" type="xs:string" minOccurs="0"/>
<xs:element name="file" type="xs:base64Binary" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="name" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="deleteFont">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFont">
<xs:sequence>
<xs:element name="id" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFontResponse">
<xs:sequence>
<xs:element name="return" type="tns:font" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="addFont">
<xs:sequence>
<xs:element name="font" type="tns:font" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="getFonts">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="getFontsResponse">
<xs:sequence>
<xs:element name="return" type="tns:font" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>